body, p, h1, h2, h3 {
    font-family: 'Roboto', arial;
    margin: 0px;
}

.overall {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    color:aliceblue;
    background: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    font-family: 'Roboto', arial;
}

.navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    list-style-type: none;
}

.navbar > ul > li {
    margin-left: 10px;
}

.hero {
    display: flex;
    background: #1f2937;
    color:aliceblue;
    padding: 100px; 
    max-height: 800px;
    justify-content: space-between;
    font-family: 'Roboto', arial;
}

.herobox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 200%;
    max-width: 50%;
}

.hero>.heroimage {
    display: flex;
    background-color:aliceblue; 
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5%;
    overflow: hidden;
    min-height: 200px;
    min-width: 150px;
    max-height: 400px;
    max-width: 300px;
    justify-items: center;
}

.colleague {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.testimonials {
    display: flex;
    font-family: 'Roboto', arial;
    flex-direction: column;
    padding: 40px;
    padding-bottom: 30px;
    background-color: #a1aab3;
    color: rgb(46, 48, 50)
}

.quote {
    font-style: italic;
    flex: 1;
    text-align: center;
    font-size: 1.75em;
    font-weight:lighter;
}

.testimonials>.author {
    font-weight: bold;
    font-size: 1.5em;
    flex: 1;
    text-align: center;
    flex-direction: row-reverse;
    padding-left: 50%
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: small;
}

.ctabox {
    display: flex;
    background-color: #3882f6;
    color: aliceblue;
    padding: 50px;
    flex-direction: row;
    border-radius: 20px;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
}

.ctabox>button {
    display: block;
    margin-left: 80px;
    height: 2.5em;
    width: 100px;
    background-color: #3882F6;
    border: aliceblue 2px solid;
    color: aliceblue;
    align-self: center;
    border-radius: 10%;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color:aliceblue;
    justify-content: center;
    text-align: center;
    border-style: none;
}

.herobox>button {
    background-color: #3882F6;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    padding: 12px;
    max-width: 120px;
    font-size: small;
}

.herobox>h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.team {
    display: block;
    flex: 1;
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'Roboto', arial;
}

.team>h2 {
    font-weight: 800px;
    font-size: 36px;
    justify-content: center;
    text-align: center;
    color: #1f2937;
    border-bottom: 1px solid #adb4bc;
    margin: 20px;
    padding-bottom: 20px;
}

.headshot {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10%;
}

.colleagues {
    display: flex;
    margin-top: 40px;
    flex: 1;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.colleague {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    text-align: justify;
}

