.overall {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    color:aliceblue;
    background: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

.navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    list-style-type: none;
}

.navbar > ul > li {
    margin-left: 10px;
}

.hero {
    display: flex;
    background: #1f2937;
    color:aliceblue;
    padding: 100px; 
    max-height: 800px;
    justify-content: space-between;
}

.herobox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 200%;
    max-width: 50%;
}

.hero>.heroimage {
    display: flex;
    background-color:aliceblue; 
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5%;
    overflow: hidden;
    min-height: 200px;
    min-width: 150px;
    max-height: 400px;
    max-width: 300px;
    justify-items: center;
}

.colleague {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.testimonials {
    display: flex;
}

.quote {
    font-style: italic;
}

.author {
    font-weight: bold;
    font-size: large;
}

.cta {
    display: flex;
}

.ctabox {
    display: flex;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color:aliceblue;
    text-align: center;
}

.herobox>button {
    background-color: #3882F6;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    padding: 12px;
    max-width: 120px;
}

.herobox>h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.team {
    display: block;
    flex: 1;
}

.team>h2 {
    font-weight: 800px;
    font-size: 36px;
    justify-content: center;
    text-align: center;
    color: #1f2937;
    border-bottom: 1px solid #adb4bc;
    margin: 20px;
}

.headshot {
    height: 140px;
    width: 140px;
}

.colleagues {
    display: flex;
}

.colleague {
    display: flex;
    flex: 1;
    align-items: center;
}

