.overall {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    color:aliceblue;
    background: midnightblue;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

.navbar > ul {
    display: flex;
}

.hero {
    display: flex;
}

.herobox {
    display: flex;
}

.team {
    display: flex;
}

.colleague {
    display: flex;
}

.testimonials {
    display: flex;
}

.quote {
    font-style: italic;
}

.author {
    font-weight: bold;
    font-size: large;
}

.cta {
    display: flex;
}

.ctabox {
    display: flex;
}

.footer {
    display: flex;
    background-color: midnightblue;
    color:aliceblue;
    text-align: center;
}